.env
.env.*
!.env.example

.DS_Store

node_modules/

apps/frontend/.next/
apps/frontend/out/
apps/backend/sql/seed_demo.sql

apps/backend/.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.gemini-clipboard/
.opencode
